@font-face {
  font-family: squidgame;
  src: url(../Font/Game\ Of\ Squids.ttf);
}

* {
  font-family: squidgame;
}

:root{
  --clr-bold-pink:#ed1b76;
  --clr-light-pink :#f44786;
  --clr-light-green :#249f9c;
  --clr-bold-green :#037a76;
}

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
}


body {
  background: rgb(27,18,18);
background: -moz-linear-gradient(56deg, rgba(27,18,18,1) 20%, rgba(237,27,118,1) 77%);
background: -webkit-linear-gradient(56deg, rgba(27,18,18,1) 20%, rgba(237,27,118,1) 77%);
background: linear-gradient(56deg, rgba(27,18,18,1) 20%, rgba(237,27,118,1) 77%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1b1212",endColorstr="#ed1b76",GradientType=1);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 5rem; 
  background: linear-gradient(to right, white, #1B1212);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin: 0; 
}

#are{
  color: white;
}

#button-entry {
  display: inline-block;
  padding: 20px 40px;
  background-color:var(--clr-bold-green);
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size:2rem;
  margin:70px;
}

#button-entry:hover {
  background-color:var(--clr-light-green);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.459);
  z-index: 10;
  pointer-events: none;
  display: none;
}

#backdrop.visible {
  display: block;
  pointer-events: all;
}

.entry-dialog{
  border-radius: 10px;
  width: 30%;
  z-index: 100;
  background-color: black;
  color: white;
  border: none;
  font-size: 2rem;
}

.entry-dialog > form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:30px;
}

form input {
  border: none;
  outline: none;
  background-color: white;
  padding: 10px;
  width: 60%;
  height: 40px; /* Adjust this value as needed */
  border-radius: 10px;
  font-size: 1.3rem;
}

.add-button > button{
  padding:20px;
  font-size: 1.3rem;
  border-radius: 10px;
  border: none;
}

.add-button > button:hover{
  cursor: pointer;
  opacity: 80%;
}

#submit-button{
  background-color: var(--clr-light-pink);
  color:white
}

#cancel-button{
  background-color: var(--clr-light-green);
  color:white
}